*{
    font-family: 'Skranji', cursive;
    margin: 0;
    padding: 0;
    color: rgba(247, 209, 159, 0.83);
}
body{
    background-color: black;
}

.navbar ul {
    list-style: none;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    
    background-color:rgba(68, 52, 51, 0.868) ;
    border-radius: 30px;
    margin-top: 70px;
   margin-left: 250px;
   margin-right: 250px;
   font-size: 20px;
   padding: 15px;
   
}
a{
    text-decoration: none;
}
li:hover{
    color: rgb(175, 127, 97);
    cursor: pointer;
}
a:hover{
    color: rgb(203, 137, 95);
}
.content{
    margin-top: 60px;
    font-size: 35px;
    margin-left: 480px;
}
.shopping{
    margin-left: 800px;
    margin-top: -60px;
    cursor: pointer;
}
.num{
    font-size: 25px;
    background-color: brown;
    align-items: center;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 400px;
    background-color:   rgb(68, 52, 51);
    height: 100vh;
    border-radius: 30px;
    transition: 0.4s ease;
    border-left: 3px  rgb(175, 127, 97) solid;
    border-bottom: 3px  rgb(175, 127, 97) solid;
}
.active .card{
    left: calc(100% - 400px);
}
.close{
    margin-left: 350px;
    font-size: 35px;
    margin-top: 15px;
    cursor: pointer;
}
h3{
    font-size: 35px;
    margin-left: 130px;
}
img{
    width: 200px;
    height: 300px;
    cursor: pointer;
    box-shadow: 0 10px 30px  rgba(247, 209, 159, 0.69);
}
.btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgba(247, 209, 159, 0.842) solid;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
   
    margin-top: 10px;
    margin-bottom: 15px;
}
.btn:hover{
    background-color:  rgba(137, 94, 68, 0.574);
}
.name{
   
    margin-top: 15px;
    font-size: 25px;
    width: 200px;
}
.price{
    font-size: 35px;
    margin-top: 15px;
   
}
.price::after{
    content: " $";
}
.nvlsdom{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    margin-left: -300px;
    margin-top: 80px;
}
.urcard{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
   text-align: center;
    margin-top: 15px;
}
.urcard img {
    width: 50px;
    height: 90px;
    box-shadow: none;

}
.namer{
    font-size: 10px;
    
}
.total{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}
.buy{
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgba(247, 209, 159, 0.842) solid;
    cursor: pointer;
    font-size: 15px;
    padding: 20px;
   margin-left: 140px;
    margin-bottom: 15px;
    text-align: center;
}
.buy:hover , .btnr1:hover , .btnr2:hover , .btnp:hover{
    background-color:  rgba(137, 94, 68, 0.495);
}
.btnr1 , .btnr2{
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgba(247, 209, 159, 0.842) solid;
    cursor: pointer;
border-radius: 25px;
padding-left: 8px;
padding-right: 8px;
}
.payment{
    width: 500px;
    height: 600px;
    font-size: 20px;
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color:   rgb(68, 52, 51);
    border-radius: 25px;
    margin-left: 480px;
    margin-top: 50px;
    border-left: 3px  rgb(175, 127, 97) solid;
    border-bottom: 3px  rgb(175, 127, 97) solid;
    
}
label{
    color:  rgb(175, 127, 97);
    font-size: 35px;
    margin-left: 15px;
}
.payinput{
    margin-left: 15px;
    font-size: 20px;

}
.cardinfo{
    margin-left: 15px;
}
.paytitle{
    text-align: center;
    margin-top: 20px;
}
.icons{
    font-size: 40px;
    text-align: center;
}
.btnp{
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgba(247, 209, 159, 0.842) solid;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
   margin-left: 210px;
    margin-bottom: 15px;
    margin-top: 20px;
    
}
.closecard{
    color: black;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.605);
    width: 15px;
    height: 15px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-top: 5px;
   margin-left: 160px;
  margin-top: -470px;
    position: absolute;
    border-radius: 30px;
    cursor: pointer;
}
.paymentt{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.63);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.activeee{
    color: rgb(203, 137, 95);
}
